In [192]:
# Dependencies and Setup
import pandas as pd
import numpy as np
from pathlib import Path

# Data File patha
schoolDataPath = Path("Resources/schools_complete.csv")
studentDataPath = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
schoolDataRead_df = pd.read_csv(schoolDataPath)
studentDataRead_df = pd.read_csv(studentDataPath)
# Combine the data into a single dataset.  
schoolDataJoined_df = pd.merge(studentDataRead_df, schoolDataRead_df, how="left", on=["school_name", "school_name"])

In [193]:
totalSchools = schoolDataRead_df["school_name"].count()
# total schools
totalBudget = schoolDataRead_df["budget"].sum()
# total students
totalStudents = studentDataRead_df["student_name"].count()
#average math score
averageStudentMathScore = studentDataRead_df["maths_score"].mean()
# average reading score
averageStudentReadingScore = studentDataRead_df["reading_score"].mean()
#% passing maths 
totalStudentsPassingMath_df = studentDataRead_df.loc[studentDataRead_df["maths_score"] >= 50]
totalStudentsPassingMath = totalStudentsPassingMath_df["maths_score"].count()
porcentageStudentPassingMaths = (totalStudentsPassingMath * 100)/totalStudents
# % passing reading
totalStudentsPassingReading_df = studentDataRead_df.loc[studentDataRead_df["reading_score"] >= 50]
totalStudentsPassingReading = totalStudentsPassingReading_df["reading_score"].count()
porcentageStudentPassingReading = (totalStudentsPassingReading * 100)/totalStudents
# % passing overall
totalStudentsPassingOverall_df = studentDataRead_df.loc[(studentDataRead_df["maths_score"] >= 50) & (studentDataRead_df["reading_score"] >= 50)]
totalStudentsPassingOverall = totalStudentsPassingOverall_df["maths_score"].count()
porcentageStudentPassingOverall = (totalStudentsPassingOverall  * 100)/totalStudents
# 
# Schools and Students summary data
area_summary_df = pd.DataFrame({"Total Schools": totalSchools,"Total Students": totalStudents,"Total Budget": totalBudget,"Average Maths Score": averageStudentMathScore,"Average Reading Score": averageStudentReadingScore,"% Passing Maths": porcentageStudentPassingMaths,"% Passing Reading": porcentageStudentPassingReading,"% Overall Passing": porcentageStudentPassingOverall}, index=[0])
area_summary_df["Total Students"]= area_summary_df["Total Students"].map("{:,}".format)
area_summary_df["Total Budget"]= area_summary_df["Total Budget"].map("${:,.2f}".format)
# Show  data summary
area_summary_df.head()

,Total Schools,Total Students,Total Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",70.338192,69.980138,86.078632,84.426857,72.808272

In [194]:
schoolDataRead_df.columns

Index(['School ID', 'school_name', 'type', 'size', 'budget'], dtype='object')

In [195]:
studentDataRead_df.columns

Index(['Student ID', 'student_name', 'gender', 'year', 'school_name',
       'reading_score', 'maths_score'],
      dtype='object')

In [231]:
# School Summary
schoolDataSelected_df = schoolDataRead_df[["school_name", "type", "budget"]]
schoolDataSelected_df.head(15)

studentDataSelected_df = studentDataRead_df[["Student ID", "school_name", "reading_score", "maths_score"]]
totalStudentsBySchool = studentDataRead_df[["Student ID", "school_name"]]
totalStudentsBySchool = totalStudentsBySchool.groupby(["school_name"]).count() 
averageMathScoreBySchool = studentDataRead_df[["school_name", "maths_score", "reading_score"]]
averageMathScoreBySchool = averageMathScoreBySchool.groupby(["school_name"]).mean() 
averageMathScoreBySchool

# studentsDataMerge_df = pd.merge(schoolDataSelected_df, studentDataSelected_df,  how="left", on=["school_name", "school_name"])
# studentsDataMerge_df = pd.DataFrame(studentsDataMerge_df)
# studentsDataMerge_df

                       maths_score  reading_score
school_name
Bailey High School       72.352894      71.008842
Cabrera High School      71.657158      71.359526
Figueroa High School     68.698542      69.077993
Ford High School         69.091274      69.572472
Griffin High School      71.788147      71.245232
Hernandez High School    68.874865      69.186408
Holden High School       72.583138      71.660422
Huang High School        68.935207      68.910525
Johnson High School      68.843100      69.039277
Pena High School         72.088358      71.613306
Rodriguez High School    72.047762      70.935984
Shelton High School      72.034072      70.257808
Thomas High School       69.581651      69.768807
Wilson High School       69.170828      68.876916
Wright High School       72.047222      70.969444